In [63]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import requests
import time
from selenium.common.exceptions import NoSuchElementException , StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
import pandas as pd

In [2]:
driver1=webdriver.Chrome()

In [4]:
url1="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver1.get(url1)
time.sleep(2)

In [18]:
Name=[]
Artist=[]
Upload_date=[]
Views=[]

nm = driver1.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]/a')
for name in nm:
    Name.append(name.text)

try:
    art = driver1.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]/a')
    for artist in art:
        Artist.append(artist.text)
except NoSuchElementException:
    Artist.append('NA')

up = driver1.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
for upload in up:
    Upload_date.append(upload.text)

ve = driver1.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for view in ve:
    Views.append(view.text)

In [19]:
print(len(Name),len(Artist),len(Upload_date),len(Views))

18 12 18 18

In [22]:
import pandas as pd

print("Length of Name list:", len(Name))
print("Length of Artist list:", len(Artist))
print("Length of Upload_date list:", len(Upload_date))
print("Length of Views list:", len(Views))

if len(Name) == len(Artist) == len(Upload_date) == len(Views):
    data = {
        'Name': Name,
        'Artist': Artist,
        'Upload_date': Upload_date,
        'Views': Views
    }

    df = pd.DataFrame(data)
    print(df)
else:
    print("Error: Lists are of different lengths. Cannot create DataFrame.")

Length of Name list: 18
Length of Artist list: 12
Length of Upload_date list: 18
Length of Views list: 18
Error: Lists are of different lengths. Cannot create DataFrame.

In [25]:
driver1.close()

In [23]:
#Question 2

In [26]:
driver2=webdriver.Chrome()

In [27]:
url2="https://www.bcci.tv"
driver2.get(url2)
time.sleep(2)

In [28]:
option=driver2.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]').click()

In [29]:
option2=driver2.find_element(By.XPATH,'/html/body/div[3]/ul/li/a[2]').click()
time.sleep(2)

In [36]:
series = []
place = []
date = []
time = []

try:
    se = driver2.find_elements(By.XPATH, '//h5[@class="match-tournament-name ng-binding"]')
    for ser in se:
        series.append(ser.text)
except NoSuchElementException:
    series.append("-")

try:
    pl = driver2.find_elements(By.XPATH, '//div[@class="match-place ng-scope"]')
    for plac in pl:
        place.append(plac.text)
except NoSuchElementException:
    place.append("-")

try:
    dt = driver2.find_elements(By.XPATH, '//div[@class="match-dates ng-binding"]')
    for dat in dt:
        date.append(dat.text)
except NoSuchElementException:
    date.append("-")

try:
    t = driver2.find_elements(By.XPATH, '//div[@class="match-time no-margin ng-binding"]')
    for tim in t:
        time.append(tim.text)
except NoSuchElementException:
    time.append("-")

In [37]:
print(len(series),len(place),len(date),len(time))

9 9 9 9

In [38]:
data1={
    'Series': series,
    'Place': place,
    'Date': date,
    'Time': time
}
df=pd.DataFrame(data1)
df

,Series,Place,Date,Time
0,ENGLAND TOUR OF INDIA 2023-24,"Niranjan Shah Stadium, Rajkot","15 FEBRUARY, 2024",9:30 AM IST
1,ICC MENS U19 WORLD CUP 2024,"Willowmoore Park, Benoni","11 FEBRUARY, 2024",1:30 PM IST
2,ICC MENS U19 WORLD CUP 2024,"Willowmoore Park, Benoni","6 FEBRUARY, 2024",1:30 PM IST
3,ICC MENS U19 WORLD CUP 2024,Bloemfontein,"2 FEBRUARY, 2024",1:30 PM IST
4,ENGLAND TOUR OF INDIA 2023-24,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadi...,"2 FEBRUARY, 2024",9:30 AM IST
5,ENGLAND LIONS TOUR OF INDIA,"Narendra Modi Stadium Ground 'A', Motera, Ahme...","1 FEBRUARY, 2024",9:30 AM IST
6,ICC MENS U19 WORLD CUP 2024,"Mangaung Oval, Bloemfontein","30 JANUARY, 2024",1:30 PM IST
7,ICC MENS U19 WORLD CUP 2024,"Mangaung Oval, Bloemfontein","28 JANUARY, 2024",1:30 PM IST
8,ICC MENS U19 WORLD CUP 2024,"Mangaung Oval, Bloemfontein","25 JANUARY, 2024",1:30 PM IST

In [39]:
driver2.close()

In [ ]:
#Question3

In [52]:
driver3=webdriver.Chrome()

In [53]:
url3="https://www.statisticstimes.com/"
driver3.get(url3)

In [54]:
filter1=driver3.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button').click()
india=driver3.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]').click()

In [55]:
state=driver3.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [57]:
rank=[]
state=[]
gsdp1=[]
gsdp2=[]
share=[]
gdp=[]


try:
    ra = driver3.find_elements(By.XPATH, '//table[@id="table_id"]/tbody/tr/td[1]')
    for ran in ra:
        rank.append(ran.text)
except NoSuchElementException:
    rank.append("-")
    
    
try:
    sta = driver3.find_elements(By.XPATH, '//table[@id="table_id"]/tbody/tr/td[2]')
    for stat in sta:
        state.append(stat.text)
except NoSuchElementException:
    state.append("-")
    
    
try:
    g1 = driver3.find_elements(By.XPATH, '//table[@id="table_id"]/tbody/tr/td[3]')
    for gs1 in g1:
        gsdp1.append(gs1.text)
except NoSuchElementException:
    gsdp1.append("-")
    
    
try:
    g2 = driver3.find_elements(By.XPATH, '//table[@id="table_id"]/tbody/tr/td[4]')
    for gs2 in g2:
        gsdp2.append(gs2.text)
except NoSuchElementException:
    gsdp2.append("-")
    
    
try:
    sh = driver3.find_elements(By.XPATH, '//table[@id="table_id"]/tbody/tr/td[5]')
    for shar in sh:
        share.append(shar.text)
except NoSuchElementException:
    share.append("-")
    
    
    
try:
    g = driver3.find_elements(By.XPATH, '//table[@id="table_id"]/tbody/tr/td[6]')
    for gd in g:
        gdp.append(gd.text)
except NoSuchElementException:
    gdp.append("-")

In [58]:
print(len(rank),len(state),len(gsdp1),len(gsdp2),len(share),len(gdp))

33 33 33 33 33 33

In [59]:
data3={
    'Rank':rank,
    'State':state,
    'GSDP(22-23)- at current prices':gsdp1,
    'GSDP(21-22)- at current prices':gsdp2,
    'Share(21-22)':share,
    ' GDP($ billion)':gdp
}

df3=pd.DataFrame(data3)
df3

,Rank,State,GSDP(22-23)- at current prices,GSDP(21-22)- at current prices,Share(21-22),GDP($ billion)
0,1,Maharashtra,-,"3,108,022",13.24%,417.163
1,2,Tamil Nadu,"2,364,514","2,071,286",8.82%,278.011
2,3,Uttar Pradesh,"2,257,575","1,974,532",8.41%,265.024
3,4,Karnataka,"2,241,368","1,962,725",8.36%,263.440
4,5,Gujarat,-,"1,937,066",8.25%,259.996
5,6,West Bengal,"1,554,992","1,363,926",5.81%,183.068
6,7,Rajasthan,"1,413,620","1,218,193",5.19%,163.507
7,8,Madhya Pradesh,"1,322,821","1,136,137",4.84%,152.494
8,9,Andhra Pradesh,"1,317,728","1,133,837",4.83%,152.185
9,10,Telangana,"1,313,391","1,128,907",4.81%,151.523
10,11,Kerala,-,"932,470",3.97%,125.157
11,12,Delhi,"1,043,759","904,642",3.85%,121.422
12,13,Haryana,"994,154","870,665",3.71%,116.862
13,14,Odisha,"774,869","670,881",2.86%,90.047
14,15,Bihar,"751,396","650,302",2.77%,87.284
15,16,Punjab,"673,107","614,227",2.62%,82.442
16,17,Assam,"493,167","412,612",1.76%,55.381
17,18,Chhattisgarh,"457,608","406,416",1.73%,54.550
18,19,Jharkhand,"393,722","358,863",1.53%,48.167
19,20,Uttarakhand,"302,621","272,159",1.16%,36.530
20,21,Jammu & Kashmir-UT,"227,927","199,917",0.85%,26.833
21,22,Himachal Pradesh,"195,405","176,269",0.75%,23.659
22,23,Goa,-,"82,604",0.35%,11.087
23,24,Tripura,"72,636","62,550",0.27%,8.396
24,25,Chandigarh,-,"45,635",0.19%,6.125
25,26,Puducherry,-,"44,238",0.19%,5.938
26,27,Meghalaya,"42,697","38,785",0.17%,5.206
27,28,Sikkim,"42,756","37,557",0.16%,5.041
28,29,Manipur,-,"36,594",0.16%,4.912
29,30,Arunachal Pradesh,-,"35,124",0.15%,4.714
30,31,Nagaland,-,"31,913",0.14%,4.283
31,32,Mizoram,-,"27,824",0.12%,3.735
32,33,Andaman & Nicobar Islands,-,"10,371",0.04%,1.392

In [60]:
driver3.close()

In [61]:
#Question5

In [62]:
driver5=webdriver.Chrome()

In [66]:
url5="https://www.billboard.com"
driver5.get(url5)
time.sleep(2)

In [68]:
option1=driver5.find_element(By.XPATH, '/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button').click()

In [69]:
hot=driver5.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/ul/li[2]/a').click()

In [ ]:
song=[]
artist=[]
lrank=[]
prank=[]
board=[]

try:
    so = driver5.find_elements(By.XPATH, '//table[@id="table_id"]/tbody/tr/td[1]')
    for son in so:
        song.append(son.text)
except NoSuchElementException:
    song.append("-")
    
    
try:
    art = driver5.find_elements(By.XPATH, '//table[@id="table_id"]/tbody/tr/td[1]')
    for artis in art:
        artist.append(artis.text)
except NoSuchElementException:
    artist.append("-")
    
    
try:
    lra = driver5.find_elements(By.XPATH, '//table[@id="table_id"]/tbody/tr/td[1]')
    for lran in lra:
        lrank.append(lran.text)
except NoSuchElementException:
    lrank.append("-")
    
    
try:
    pra = driver5.find_elements(By.XPATH, '//table[@id="table_id"]/tbody/tr/td[1]')
    for pran in pra:
        prank.append(pran.text)
except NoSuchElementException:
    prank.append("-")
    
    
try:
    bo = driver5.find_elements(By.XPATH, '//table[@id="table_id"]/tbody/tr/td[1]')
    for boar in bo:
        board.append(boar.text)
except NoSuchElementException:
    board.append("-")